.reveal pre {
  width: 100%;
}

.reveal pre code {
  font-size: 1.5em;
  line-height: 1.25em;
  max-height: none;
  padding: 1em;
}

.reveal .output {
  border: 1px dashed #DCDCDC;
  padding: 1em;
  min-height: 300px;
}

.bus-stop-app h2 {
  margin-bottom: .5em;
}

.bus-stop-app .actions {
  margin-bottom: .5em;
  text-align: center;
}

.bus-stop-app ul,
.bus-stop-app ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 95%;
}

.bus-stop-app ul {
  margin-bottom: 1em;
}

.bus-stop-app ul li {
  margin-bottom: .5em;
  background-color: #DCDCDC;
  padding: .25em .5em;
}

.bus-stop-app ul li.highlight {
  background-color: yellow;
}

.bus-stop-app a.geolocate-stop {
  background: transparent url('http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/512/Maps-and-Geolocation-Worldwide-location-icon.png') center center no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  color: transparent;
  display: block;
  float: right;
}


.bus-stop-app label {
  font-size: .85em;
}

.bus-stop-app input[type=text] {
  font-size: .85em;
  padding: .25em .5em;
  border: 1px solid #DCDCDC;
}